// Variables
@import './components/social';

.logodj{
    width: 20%;
}

.logobg{
    width: 25%;
}

.paquetes{
    height: 70vh;
    width: 100%;
    background-size: cover !important;
    background-position: top;
    position: relative;

    &__title{
        width: 100%;
        background-color: black;
        padding: 5px;
    }
    &__content{
        margin-top: 20%;
        width: 100%;
        background-color: white;
        padding: 10px;
        opacity: 0.8;
    }
}

hr.new1 {
  border: 1px solid #535156;
}

.body-height{
    min-height: 45vh;
}

.card-relative{
    position: relative;
}

.card-footer2{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: black;
    padding: 5px;
}

.img-package{
    height: 30vh;
    object-fit: cover;
}

.event-text-packate{
    height: 42vh;
}

.event-place > p {
    margin-bottom: 5px !important;
    line-height: 1 !important;
}

.social-header{
    position: absolute;
    color: white;
    z-index: 9;
}

.cover{
    width: 100px;
}

.card > iframe{
    width: 100%;
    height: 335px;
}

.album-thumb > a >iframe{
    width: 100%;
    height: 257px;
}

.sound-cover{
    height: 80vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.sound-content{
    margin-top: 100px;
}

.single-hero-slide .hero-slides-content h6 {
    letter-spacing: 10px;
    font-size: 25px ;
}
.single-hero-slide .hero-slides-content h2 {
    letter-spacing: 10px;
    font-size: 80px;
}

/* radio */
#control-radio{
    width: 100%;
    height: 352px;
}
/* radio */

@media (max-width: 576px) {
    .sound-cover{
        height: 50vh;
    }
}
